<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>알 수 없는 오류</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="card error-container">
            <h1>큰 실수를 저질렀습니다!</h1>
            <img src="/images/dogeza.png" alt="Apologetic Dogeza Character" class="dogeza-img">
            <div class="error-message">
                <h2>알 수 없는 오류가 발생했습니다.</h2>
                <p>서버에 문제가 생긴 것 같습니다.<br>최선을 다해 복구하고 있으니 잠시만 기다려주세요!</p>
            </div>
            <a href="/" class="home-link">메인으로 돌아가기</a>
        </div>
    </div>
</body>

</html>